.login__container {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--green-0);
}

.login__wrapper {
    max-width: 500px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 15px;
    background: #fefefe;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin: 25px 0;
}

.login__title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px;
}

.login__subtitle {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 15px;
    opacity: 0.8;
}
