.message__container {
    max-width: 70ch;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    font-size: 14px;
    line-height: 1.5;
}

.message__content {
    background-color: var(--white);
    color: var(--black);
    border-radius: 16px;
    text-align: center;
    font-weight: 600;
    padding: 24px 32px;
    margin: 0 0 15px 0;
}

.message__content:last-child {
    margin: 0;
}

.message__content.info {
    background: var(--blue-0);
    color: var(--blue-9);
}

.message__content.success {
    background: var(--green-0);
    color: var(--green-9);
}

.message__content.error {
    background: var(--red-0);
    color: var(--red-9);
}
