.cities__container {
    height: calc(100% - 60px);
    width: 100%;
}

.cities__wrapper {
    padding: 25px;
}

.cities__header {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
    gap: 10px;
}

.cities__title {
    font-size: 22px;
    margin: 0;
}

.cities__refresh-button {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 2px solid #F8F8F8;
    border-radius: 5px;
}

.cities__refresh-button i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    max-width: 20px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
}

.cities__refresh-button:hover {
    background: #F8F8F8;
    border: 2px solid #E7EEF3;
    cursor: pointer;
}

.cities-table {
    width: 100%;
    border-collapse: collapse;
}

.cities-table th,
.cities-table td {
    border-top: 1px solid #F8F8F8;
    border-bottom: 1px solid #F8F8F8;
    padding: 10px 15px;
    text-align: left;
    background-color: #ffffff;
    font-size: 12px;
    max-width: 500px;
    line-height: 1.5;
    color: #71737C;
}

.cities-table th {
    background-color: #F8F8F8;
    color: #000000;
}

.cities-table th.city-number {
    width: 15%;
}

.cities-table th.city-name {
    width: 20%;
}

.cities-table th.city-region {
    width: 30%;
}

.cities-table th.city-status {
    width: 20%;
}

.cities-table td.city-status.main {
    color: var(--indigo-9);
}

.cities-table td.city-status.region {
    color: var(--green-9);
}

.cities-table td.city-status.occupation {
    color: var(--red-9);
}

.cities-table th.city-actions {
    width: 15%;
}

.cities-table button.button-view {
    color: #004DEB;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.cities-table button.button-view:hover {
    text-decoration: underline;
}

.cities-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pagination-controls {
    display: flex;
    align-items: center;
}

.pagination-columns-select {
    margin-right: 25px;
    padding: 5px 10px;
    border: 2px solid #F8F8F8;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}

.pagination-columns-select:hover {
    border-color: #CCCCCC;
}

.pagination-columns-select:focus {
    outline: none;
    border-color: #CCCCCC;
}

.pagination-count {
    font-size: 14px;
    margin-right: 15px;
}

.pagination-prev-button,
.pagination-next-button {
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
}

.pagination-prev-button:hover,
.pagination-next-button:hover {
    color: #CCCCCC;
}

.pagination-prev-button:disabled,
.pagination-next-button:disabled {
    color: #CCCCCC;
    cursor: not-allowed;
}